body{
    background-color: rgb(112, 128, 144);
    text-align: center;
}
.mainContainer{
    height: 85vh;
}
.imageContainer{
    height: 60%;
    width: 90%;
    margin-left: 5%;
    display: flex;
}
.descriptionContainer{
    border: solid white;
    width: 90%;
    height: 35%;
    margin-left: 5%;
    margin-top: 2vh;
    border-radius: 20px;
    padding: 3px;
}
.descriptionSmall{
    height: 100%;
    width: 100%;
    font-size: 15px;
    display: none;
}
.descriptionMedium{
    height: 100%;
    width: 100%;
    font-size: 15px;
    display: none;
}
.descriptionLarge{
    display: block;
    font-size: 15px;

}
.ImageOne{
    border: solid black;
    width: 35%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 0%;
    margin-right: 1%;

}
.ImageTwo{
    border: solid black;
    width: 30%;

}
.ImageThree{
    border: solid black;
    width: 38%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 1%;
    margin-right: 0%;

}
.ingOne{
    width: 100%;
    height: 100%;
    display: block;
}
.ingTwo{
    width: 100%;
    height: 100%;
    display: block;
}
.ingThree{
    width: 100%;
    height: 100%;
    display: block;
}
.rogueOne{
    width: 100%;
    height: 100%;
    display: none;
}
.rogueTwo{
    width: 100%;
    height: 100%;
    display: none;
}
.rogueThree{
    width: 100%;
    height: 100%;
    display: none;
}
.gladOne{
    width: 100%;
    height: 100%;
    display: none;
}
.gladTwo{
    width: 100%;
    height: 100%;
    display: none;
}
.gladThree{
    width: 100%;
    height: 100%;
    display: none;
}