body{
    background-color: rgb(112, 128, 144);
    text-align: center;
}
.mainContainer{
    border: solid black;
    height: 85vh;
}
.imageContainer{
    border: solid white;
    height: 60%;
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}
.movieDescription{
    border: solid white;
    height: 30%;
    width: 90%;
    margin-left: 5%;
    margin-top: 5vh;
}
#largeImageOne{
    border: solid black;
    width: 30%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
}
.ingOne{
    width: 100%;
    height: 100%;
    display: none;
}
.rogueOne{

}
.gladOne{
    display: none;
}
#largeImageTwo{
    border: solid black;
    width: 30%;
}
.ingTwo{
    width: 100%;
    height: 100%;
    display: none;
}
.rogueTwo{

}
.gladTwo{
    display: none;
}
#largeImageThree{
    border: solid black;
    width: 30%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.ingThree{
    width: 100%;
    height: 100%;
    display: none;
}
.rogueThree{

}
.gladThree{
    display: none;
}