body{
    background-color: rgb(112, 128, 144);
    text-align: center;
}
.mainContainer{
    border: solid black;
    height: 85vh;
}
.imageContainer{
    border: solid white;
    height: 60%;
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}
.movieDescription{
    border: solid white;
    height: 30%;
    width: 90%;
    margin-left: 5%;
    margin-top: 5vh;
}
.ImageOne{
    border: solid black;
    width: 30%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;

}
.ImageTwo{
    border: solid black;
    width: 30%;

}
.ImageThree{
    border: solid black;
    width: 30%;
    margin-top: 3%;
    margin-bottom: 3%;

}
.ingOne{
    width: 100%;
    height: 100%;
    display: none;
}
.ingTwo{
    width: 100%;
    height: 100%;
    display: none;
}
.ingThree{
    width: 100%;
    height: 100%;
    display: none;
}
.rogueOne{
    width: 100%;
    height: 100%;
    display: block;
}
.rogueTwo{
    width: 100%;
    height: 100%;
    display: block;
}
.rogueThree{
    width: 100%;
    height: 100%;
    display: block;
}
.gladOne{
    width: 100%;
    height: 100%;
    display: none;
}
.gladTwo{
    width: 100%;
    height: 100%;
    display: none;
}
.gladThree{
    width: 100%;
    height: 100%;
    display: none;
}