*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title{
    display: flex;
    justify-content: center;
    border: solid black;
    border-width: 2px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: lightgray;
}
.mainPage{
    border: solid black;
    border-width: 2px;
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    margin-bottom: 10px;
    border-radius: 25px;
}
.missionStatement{
    border: solid black;
    border-width: 2px;
    text-align: center;
    padding: 10px;
    background-color: lightgray;
    border-radius: 25px;
}
.restaurants{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    

}
.chumImage{
    width: 700px;
    height: 700px;
    border: solid black;
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    box-shadow: 8px 10px;
}
.krustyImage{
    width: 700px;
    height: 700px;
    border: solid black;
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    box-shadow: 8px 10px;
}
.menuHeader{
    border: solid black;
    border-width: 2px;
    font: black;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    text-decoration: underline;
    padding: 10px;
    border-radius: 25px;
    background-color: lightgray;
}
.menuContainer{
    height: 420px;
    width: auto;
    text-align: center;
    display: flex;
    flex-flow: wrap, row;
    margin-top: 10px;
    justify-content: space-evenly;
}
.foodItems{
    border:solid black;
    border-width: 2px;
    width: 250px;
    height: 380px;
    background-color: lightgrey;
    margin: 12px;
    border-radius: 25px;
}
.foodDescriptions{
    border: solid black;
    border-width: 2px;
    height: fit-content;
    background-color: slategray;
    text-align: center;
    border-radius: 25px;
}